.container {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  justify-content: center;
  align-content: center;
  gap: 1rem;

  height: 100vh;
}

.card {
  display: grid;
  justify-content: center;
  align-content: center;

  height: 30vmax;
  width: 20vmax;
  font-size: 5+1vmax;

  /* background: #efefef; */
  border: 1px solid #eee;
  border-radius: 10px;
}

.card1 {
  background: #fed6bc;
}
.card2 {
  background: #def7fe;
}
.card3 {
  background: #e7ecff;
}
.card4 {
  background: #fdeed9;
}
